<div class="currently-playing">Playing: {{ view.currentTrack }}</div>

<h3>Add Track to Playlist</h3>
<form ng-submit="view.spotifySearch()">
  <input ng-model="view.searchQuery" type="search" placeholder="Artist name..."></input>
  <button class="btn" type="submit">Search</button>
</form>
<h4><strong>Albums</strong></h4>
<div id="search-results-albums" data-ng-repeat="album in view.searchResults.albums.items">
  <img ng-src="{{album.images[2].url}}"></img>{{album.name}}
  <div></div>
</div>

<h4><strong>Songs</strong></h4>
<div id="search-results-albums" data-ng-repeat="track in view.searchResults.tracks.items">
  <!-- <img ng-src="{{track.album.images[2].url}}"></img>{{track.name}}<i class="fa fa-plus" aria-hidden="true"></i> -->
  <img ng-src="{{track.album.images[2].url}}"></img>{{track.name}}<i ng-click="view.addTrackToPlaylist(track.uri)" class="fa fa-plus" aria-hidden="true"></i>
  <div></div>
</div>

<!-- <div> {{view.searchResults}} </div> -->


<h3>Playlist Tracks</h3>
<div data-ng-repeat="track in view.playlist">
  <img ng-src="{{ track.track.album.images[2].url }}"></img><br>
  <strong>{{ track.track.name }}</strong>
<div data-ng-repeat="artist in view.playlist[$index].track.artists">{{ artist.name }}</div>
</div>
<br>
<br>
<br>
<!-- <div>{{ view.playlist }}</div> -->
